h2 {
    font-size: 30px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 25px;
}

form {

    text-align: center;
}

h1{
    text-align: center;
}


body {
    background-image: linear-gradient(to left, #A15862, #B6886F);
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
header {
	background-color: #333;
	color: #fff;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}